<p>experience works!</p>
<!-- <cds-accordion align="start" size="md">
    <cds-accordion-item title="Stage de Première Année - GHU Paris : (D.I.T.S.I)">
      <p><u>Stage en informatique</u> : (1 mois)</p>
      <img src="../img/ghu.png" alt="GHU-PARIS" class="experience-image">
      <p><u>Description</u> : Développement d'un formulaire destiné aux patients listant les différents troubles et addictions les concernant.<br>Langage, Framework : PHP, Laravel.</p>
    </cds-accordion-item>

    <cds-accordion-item title="Stage de Première Année - CODECODECODEC">
      <p><u>Stage en informatique</u> : (1 semaine)</p>
      <img src="../img/codec.png" alt="CODECODECODEC" class="experience-image2">
      <p><u>Description</u> : Former des jeunes écoliers aux fondements de la programmation à l’aide du langage Scratch.</p>
      <p><u>Site web</u> : <a href="https://codecodecodec.com/" target="_blank">codecodecodec.com</a><br>
      <u>Secteurs</u> : Établissement d’enseignement Informatique.</p>
    </cds-accordion-item>

    <cds-accordion-item title="Stage de Deuxième Année - Sparkers">
      <p><u>Junior Front-End Developer</u> : (2 mois)</p>
      <img src="../img/sparkers.png" alt="Sparkers" class="experience-image3">
      <p><u>Description</u> : Rédaction d'une documentation technique et mise en place d'une SandBox de leurs librairies Angular.</p>
      <p><u>Site web</u> : <a href="https://www.sparkers.com/" target="_blank">sparkers.com</a><br>
      <u>Secteurs</u> : Technologies et services de l’information.</p>
    </cds-accordion-item>
  </cds-accordion> -->